*
{
	box-sizing: border-box;
	padding:0px;
	margin: 0px;
}

html 
{
  scroll-behavior: smooth;
}

body
{
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	scroll-behavior: smooth;
	user-select: none;
}

#client_login_page
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 700px;;
	background-image: url("pexels-karolina-grabowska-4386466-min.jpg");
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 30px;
}

#client_login_page nav
{
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 50px;
}
#client_login_page nav a:visited
{
	text-decoration: none;
	color: white;
}

#client_login_page nav a:hover
{
	background-color: red;
}

#client_login_page nav a
{
  text-decoration: none;
	color: white;	
  width: 120px;
	height: 40px;
	font-size: 20px;
	border-radius: 20px ;
	margin: 0px 30px;
  display: flex;
	justify-content: center;
	align-items: center;
}

#client_login_page form h1
{
	display: flex;
	width: 500px;
	justify-content: center;
	font-size: 50px;
	margin: 0px 0px 10px;
	color: white;
	font-weight: bold;
}
#client_login_page form
{
	margin: 50px 0px;
	width: 500px;
	background-color: rgba(255, 70, 70,0.5);
	box-shadow: 0px 0px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	border-radius: 30px;
}
#client_login_page form i
{
	margin: 0px 20px;
	color: white;
}

#client_login_page form input
{
	height: 40px;
	width: 300px;
	margin: 10px 0px ;
	font-size: 18px;
	padding: 5px 15px;
	border: none;
	border-radius: 5px;
}


#client_login_page form #submit
{
	background-color: #3399ff;
	border: none;
	color: white;
	cursor: pointer;
}